html {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
.card-title {
  font-family: Lora, serif;
  margin: 0;
}
h1 {
  font-size: 2rem;
  height: 2.6rem;
  line-height: 2.6rem;
}
h2 {
  font-size: 3.15rem;
  height: 4.095rem;
  line-height: 4.095rem;
}
h3 {
  font-size: 2.52rem;
  height: 3.276rem;
  line-height: 3.276rem;
}
h4 {
  font-size: 2.205rem;
  height: 2.8665rem;
  line-height: 2.8665rem;
}
h5 {
  font-size: 1.89rem;
  height: 2.457rem;
  line-height: 2.457rem;
}
#header {
  display: flex;
  margin-bottom: 5px;
}
#header .logo {
  display: flex;
  height: 100%;
  width: 10%;
}
#header .logo #logo {
  height: 85%;
  border-radius: 85%;
  /* Радиус скругления */
  border: 0px;
  /* Параметры рамки */
  box-shadow: 0 0 7px red;
  /* Параметры тени */
  margin: auto;
}
#header .name {
  display: flex;
  height: 100%;
  width: 90%;
}
#header .name h1 {
  text-align: center;
  margin: auto;
}
div.description {
  font-size: 1.25rem;
}
body,
input {
  font-family: Open Sans, sans-serif;
}
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}
a:hover {
  color: #33691e;
}
a.nostyle,
a.nostyle:hover {
  text-decoration: none;
  color: inherit;
}
a.breadcrumb {
  margin-left: 20px;
  margin-right: 0px;
}
a.breadcrumb::before {
  margin-right: 20px;
}
.category_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.category {
  width: 400px;
}
.category .mask {
  background: #33691e;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 0%;
  z-index: 2;
  transition-duration: 0.2s;
  cursor: pointer;
}
.category .card-title {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  /* Радиус скругления */
}
.category .card-reveal form {
  padding-top: 10px;
  text-align: center;
}
.category .card-reveal .btn {
  display: inline-flex;
  width: auto;
}
.category .card-reveal .icon {
  height: 95%;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.category .card-reveal .disabled .icon {
  opacity: 0.4;
}
.category:hover .mask {
  height: 100%;
}
footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}
